# Local Variables 
BOT_TOKEN=
ADMIN_IDS=
PORT=
BOT_UPDATE_MODE=polling
DB_ENGINE=sqlite
SQLITE_PATH=rental_bot.db
# SUBSCRIPTION_CHANNEL=
# CHANNEL_ID=

# production Variables 
ADMIN_IDS=
BOT_TOKEN=
BOT_UPDATE_MODE=webhook
CHANNEL_ID=@gebeya_mereja_266
DATABASE_URL=
ENV=production
PERSISTENCE_PATH=/app/data/bot_data.pickle
PORT=7860
SUBSCRIPTION_CHANNEL=gebeya_mereja_266
WEBHOOK_URL=
WEBHOOK_SECRET=Randomlongstring  # (optional)
DB_ENGINE=postgres  # (optional)